/****** Object:  Table [dbo].[CustomerCode]    Script Date: 2018-03-13 오전 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCode](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[ceo] [nvarchar](50) NULL,
	[etprNo] [nvarchar](50) NULL,
	[corpNm] [nvarchar](50) NULL,
	[corpType] [nvarchar](50) NULL,
	[postCode] [nvarchar](50) NULL,
	[addr1] [nvarchar](50) NULL,
	[addr2] [nvarchar](50) NULL,
	[bldNo] [int] NULL,
	[suplCd] [int] NULL,
	[telNo] [nvarchar](50) NULL,
	[state] [bit] NULL,
 CONSTRAINT [PK_CustomerCode] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomerCode] ON 

INSERT [dbo].[CustomerCode] ([id], [code], [ceo], [etprNo], [corpNm], [corpType], [postCode], [addr1], [addr2], [bldNo], [suplCd], [telNo], [state]) VALUES (1, N'COM1                             ', N'최고경영자ID11', N'사업자번호', N'회사명', N'회사타입', N'우편번호', N'주소1', N'주소2', 1, 2, N'전화번호', 0)
INSERT [dbo].[CustomerCode] ([id], [code], [ceo], [etprNo], [corpNm], [corpType], [postCode], [addr1], [addr2], [bldNo], [suplCd], [telNo], [state]) VALUES (2, N'COM2                             ', N'최고경영자ID', N'사업자번호', N'회사명', N'회사타입', N'우편번호', N'주소1', N'주소2', 2, 3, N'전화번호', 1)
INSERT [dbo].[CustomerCode] ([id], [code], [ceo], [etprNo], [corpNm], [corpType], [postCode], [addr1], [addr2], [bldNo], [suplCd], [telNo], [state]) VALUES (4, N'COM4                             ', N'최고경영자ID', N'사업자번호', N'회사명', N'회사타입', N'우편번호', N'주소1', N'주소2', 4, 5, N'전화번호', 1)
GO
SET IDENTITY_INSERT [dbo].[CustomerCode] OFF
USE [master]
GO
